= form_for @webpage do |f|
  - if @webpage.errors.any?
    #error_explanation
      %h2= "#{pluralize(@webpage.errors.count, "error")} prohibited this webpage from being saved:"
      %ul
        - @webpage.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
